%h1 New Post


.form__container
  .form__container__field
    = form_with(model: @post, local: true) do |form|

      = form.file_field :clip, :accept => 'video/*', placeholder: "ファイルを選択する"
      = form.text_field :title, placeholder: "title"
      = form.text_area :text, placeholder: "text"
      = form.submit "SEND"
